.center {
  margin-right: auto;
  margin-left: auto;
}

th {
  font-family: "Courier New", monospace;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border: 5px solid black;
  align-items: center;
  size: 100px;
}

td {
  font-family: "Courier New", monospace;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  align-items: center;
}

.paragraph {
  color: black;
  text-align: center;
  font-family: "courier new", monospace;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
